

.App {
  text-align: center;
  font-family: 'outfit';
  color: #fff;
}


.Container_Card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 670px){
  .Container_Card{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
}